.gym_footer_section{
    background-color: black;

}
.link_source{
    width: 100%;
    text-align: center;
}
.link_source li
{
    margin: 10px .6rem;
    font-size: 1.3rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    text-decoration: none;
    color: white;
    display: inline-block;
}
.link:hover{
    color: white;
    box-shadow: 0px 0px 10px black;
}
.links-1:hover{
    background-color: red;
}
.links-2:hover{
    background-color:blue;
}
.links-3:hover{
    background-color: darkmagenta;
}
.links-4:hover{
    background-color: blue;
}
.links-5:hover
{
    background-color: darkblue;
}
.gym_footer_section h1{
    text-align: center;
    text-transform: capitalize;
    margin: 5px 0 10px;
    color: white;
    font-size: 1.6rem;
    padding: 0 0 10px;
}
.gym_footer_section h1 span{
    text-transform: uppercase;
    margin: 0 5px;
    transition: all .3s ease;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: blinking 2s ease infinite;
    color: goldenrod;
    transform: scale(7);
}
@keyframes blinking {
    0%{
        transform: scale(1);
        color: goldenrod;
    }
    25%{
        transform: scale(14);
        color: red;
    }
    50%{
        transform: scale(44);
        color: blue;
    }
    75%{
        transform: scale(4);
        color: red;
    }
    100%{
        transform: scale(1);
        color: goldenrod;
    }    

}
@media screen and (max-width:478px){
    .link_source li{
        margin: 10px 0.3rem;
        font-size: 1rem;
    }
    .gym_footer_section h1{
        font-size: 1.2rem;
    }
}