*{
    margin: 0;
    padding: 0;
}
:root{
    --light-color:white;
    --dark-color:black;
    --light-background-color:black;
    --dark-background-color:white;
    --light-img-filter:1;
    --dark-img-filter:0;
}
body
{
    /* height: 1110px; */
}
.gym_nav_bar{
    display: flex;
    /* background-color: var(--light-background-color); */
    width: 100vw;
    height: 90px;
    justify-content: space-between;
    /* padding: 0 15px; */
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
}
.gym_logo{
    width: 120px;
    height: 100px;
}
.gym_logo img{
    width: 100%;
    filter: invert(var(--light-img-filter));
    height: 100%;
}
.gym_nav_links{
}
.gym_link{
    display:inline-block;
    margin: 1rem;
    list-style: none;
}
.gym_link a{
    text-transform: capitalize;
    text-decoration: none;
    color:var(--light-color);
    font-size: 1.4rem;
}   

.nav_other_contact_mediums button{
    background: transparent;
    color: var(--light-color);
    padding: 7px 15px;
    font-size: 1.2rem;
    border-radius: 20px;
    margin: 0 1.3rem;
}
.nav_toggle_icon
{
    position: fixed;
    right: 5%;
    top: 8%;
    font-size: 31px;
    color: blue;
    z-index: 12;
    display: none;
}
.close-btn{
    position: fixed;
    left: 260px;
    top: 8%;
    font-size: 33px;
    color: red;
    display: none;
}
@media screen and (max-width:992px) {
    .gym_nav_bar
    {
        display: grid;
        grid-template-rows: auto 1fr auto;
        place-items: center;
        width: 330px;
        background-color: var(--light-background-color);
        height: 100vh;
    }
    .gym_logo{
        margin: 30px 20px 0;
        align-self: flex-start;
        justify-self: flex-start;
        /* background-color:yellow ; */
    }
    .gym_nav_links{
        margin: 30px 20px 0;
        align-self: flex-start;
        justify-self: flex-start;
        /* background: chartreuse; */
    }
    .gym_link{
        display: block;
        font-size: 3rem;
        letter-spacing: 1.3px;
    }
    .nav_other_contact_mediums{
        margin-bottom:2rem ;
    }
    .nav_toggle_icon,.close-btn{
        display: block;
    }
}

/* navigation bar media query */

@media screen and (max-width:411px) {
    .gym_nav_bar{
        width: 100%;

    }
    .close-btn{
        left: 330px;
    }
}

/* home page css */
.home_page{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}
.home_page::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 50%);
    z-index: 8;
    width: 100%;
    height: 100%;
}
.home_page_img_laptop
{
    display: block;
    width: 100%;
    height: 100%;
}
.home_page_img_mobile{
    display: none;
    width: 100%;
    height: 100%;
}

/* about us css */
.gym_links_container{
    width: 90vw;
    margin: 0 auto;
}
.gym_aboutUs_section{

}
.gym_slideshow_container{
    position: relative;
    max-width:90vw;
}
.gym_slide{
    width: 60%;
    margin: 0 auto;
    /* display: none; */
    height: 410px;
}
.gym_slide img{
    width: 100%;
    height: 100%;
}
.slide_number{
    position: absolute;
    top: 10px;
    left: 22%;
}
.prev_btn{
    position: absolute;
    top: 44%;
    width: 10px;
    height: 10px;
    left: 21%;
}
.next_btn{
    position: absolute;
    top:46%;
    right: 21%;
}
.btn{
    width: 19px;
    height: 19px;
    text-align: center;
    padding: 10px;
}
.next_btn :hover ,.prev_btn :hover{
    background-color: black;
    color: white;
}
.gym_slides_dot{
    text-align: center;
    margin: 10px 0;
}
.gym_slides_dot a{
    padding:5px;
}